* {
    padding: 0px;
    margin: 0px;
}

div.container {
    background-color: #f2f2f2;
    padding: 20px;
    width: 40%;
    margin: 20px auto;
    border: 4px solid black;
}

input[type="select"], input[type="text"], input[type="submit"], select {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 120%;
}

input[type="radio"] {
    margin: 20px 20px 20px 0px;
}

input[type="submit"] {
    background-color: limegreen;
    color: white;
}